.App {
    text-align: center;
}

body {
    background-image: url("images/madison-bracaglia-fcWAwPKpkTU-unsplash.jpg");
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

h1{
    font-family: 'Arvo', serif;
    text-shadow: 2px 2px 2px purple;
}
#counter {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 4px;
    border: 2px solid purple;
    background: #f4f4f9;
    margin-top: 0;
    box-shadow: 2px 2px gray;
}

button {
    border-radius: 6px;
    background: #282c34;
    color: honeydew;
    margin: 5px 2px;
    padding: 5px 10px;
    font-weight: 500;

}
#btn-reset{
margin-left: 20px;
}

input{
    margin-top: 20px;
    width: 50px;
    height: 20px;
}
#btn-delete{
  background: purple;
    margin-left: 20px;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
